body {
  /* All class */
  font-size: 14px;
  line-height: 25px;
  /* Main */
}
body .size3on97:before {
  content: "";
  display: block;
  clear: both;
}
body .size3on97:after {
  content: "";
  display: block;
  clear: both;
}
body .size3on97 .size3 {
  width: 3%;
}
body .size3on97 .size3:first-child {
  float: left;
}
body .size3on97 .size3:last-child {
  float: right;
}
body .size3on97 .size97 {
  width: 94%;
}
body .size3on97 .size97:first-child {
  float: left;
}
body .size3on97 .size97:last-child {
  float: right;
}
body .size6on94:before {
  content: "";
  display: block;
  clear: both;
}
body .size6on94:after {
  content: "";
  display: block;
  clear: both;
}
body .size6on94 .size6 {
  width: 6%;
}
body .size6on94 .size6:first-child {
  float: left;
}
body .size6on94 .size6:last-child {
  float: right;
}
body .size6on94 .size94 {
  width: 91%;
}
body .size6on94 .size94:first-child {
  float: left;
}
body .size6on94 .size94:last-child {
  float: right;
}
body .size9on91:before {
  content: "";
  display: block;
  clear: both;
}
body .size9on91:after {
  content: "";
  display: block;
  clear: both;
}
body .size9on91 .size9 {
  width: 9%;
}
body .size9on91 .size9:first-child {
  float: left;
}
body .size9on91 .size9:last-child {
  float: right;
}
body .size9on91 .size91 {
  width: 88%;
}
body .size9on91 .size91:first-child {
  float: left;
}
body .size9on91 .size91:last-child {
  float: right;
}
body .size12on88:before {
  content: "";
  display: block;
  clear: both;
}
body .size12on88:after {
  content: "";
  display: block;
  clear: both;
}
body .size12on88 .size12 {
  width: 12%;
}
body .size12on88 .size12:first-child {
  float: left;
}
body .size12on88 .size12:last-child {
  float: right;
}
body .size12on88 .size88 {
  width: 85%;
}
body .size12on88 .size88:first-child {
  float: left;
}
body .size12on88 .size88:last-child {
  float: right;
}
body .size15on85:before {
  content: "";
  display: block;
  clear: both;
}
body .size15on85:after {
  content: "";
  display: block;
  clear: both;
}
body .size15on85 .size15 {
  width: 15%;
}
body .size15on85 .size15:first-child {
  float: left;
}
body .size15on85 .size15:last-child {
  float: right;
}
body .size15on85 .size85 {
  width: 82%;
}
body .size15on85 .size85:first-child {
  float: left;
}
body .size15on85 .size85:last-child {
  float: right;
}
body .size18on82:before {
  content: "";
  display: block;
  clear: both;
}
body .size18on82:after {
  content: "";
  display: block;
  clear: both;
}
body .size18on82 .size18 {
  width: 18%;
}
body .size18on82 .size18:first-child {
  float: left;
}
body .size18on82 .size18:last-child {
  float: right;
}
body .size18on82 .size82 {
  width: 79%;
}
body .size18on82 .size82:first-child {
  float: left;
}
body .size18on82 .size82:last-child {
  float: right;
}
body .size21on79:before {
  content: "";
  display: block;
  clear: both;
}
body .size21on79:after {
  content: "";
  display: block;
  clear: both;
}
body .size21on79 .size21 {
  width: 21%;
}
body .size21on79 .size21:first-child {
  float: left;
}
body .size21on79 .size21:last-child {
  float: right;
}
body .size21on79 .size79 {
  width: 76%;
}
body .size21on79 .size79:first-child {
  float: left;
}
body .size21on79 .size79:last-child {
  float: right;
}
body .size24on76:before {
  content: "";
  display: block;
  clear: both;
}
body .size24on76:after {
  content: "";
  display: block;
  clear: both;
}
body .size24on76 .size24 {
  width: 24%;
}
body .size24on76 .size24:first-child {
  float: left;
}
body .size24on76 .size24:last-child {
  float: right;
}
body .size24on76 .size76 {
  width: 73%;
}
body .size24on76 .size76:first-child {
  float: left;
}
body .size24on76 .size76:last-child {
  float: right;
}
body .size27on73:before {
  content: "";
  display: block;
  clear: both;
}
body .size27on73:after {
  content: "";
  display: block;
  clear: both;
}
body .size27on73 .size27 {
  width: 27%;
}
body .size27on73 .size27:first-child {
  float: left;
}
body .size27on73 .size27:last-child {
  float: right;
}
body .size27on73 .size73 {
  width: 70%;
}
body .size27on73 .size73:first-child {
  float: left;
}
body .size27on73 .size73:last-child {
  float: right;
}
body .size30on70:before {
  content: "";
  display: block;
  clear: both;
}
body .size30on70:after {
  content: "";
  display: block;
  clear: both;
}
body .size30on70 .size30 {
  width: 30%;
}
body .size30on70 .size30:first-child {
  float: left;
}
body .size30on70 .size30:last-child {
  float: right;
}
body .size30on70 .size70 {
  width: 67%;
}
body .size30on70 .size70:first-child {
  float: left;
}
body .size30on70 .size70:last-child {
  float: right;
}
body .size33on67:before {
  content: "";
  display: block;
  clear: both;
}
body .size33on67:after {
  content: "";
  display: block;
  clear: both;
}
body .size33on67 .size33 {
  width: 33%;
}
body .size33on67 .size33:first-child {
  float: left;
}
body .size33on67 .size33:last-child {
  float: right;
}
body .size33on67 .size67 {
  width: 64%;
}
body .size33on67 .size67:first-child {
  float: left;
}
body .size33on67 .size67:last-child {
  float: right;
}
body .size36on64:before {
  content: "";
  display: block;
  clear: both;
}
body .size36on64:after {
  content: "";
  display: block;
  clear: both;
}
body .size36on64 .size36 {
  width: 36%;
}
body .size36on64 .size36:first-child {
  float: left;
}
body .size36on64 .size36:last-child {
  float: right;
}
body .size36on64 .size64 {
  width: 61%;
}
body .size36on64 .size64:first-child {
  float: left;
}
body .size36on64 .size64:last-child {
  float: right;
}
body .size39on61:before {
  content: "";
  display: block;
  clear: both;
}
body .size39on61:after {
  content: "";
  display: block;
  clear: both;
}
body .size39on61 .size39 {
  width: 39%;
}
body .size39on61 .size39:first-child {
  float: left;
}
body .size39on61 .size39:last-child {
  float: right;
}
body .size39on61 .size61 {
  width: 58%;
}
body .size39on61 .size61:first-child {
  float: left;
}
body .size39on61 .size61:last-child {
  float: right;
}
body .size42on58:before {
  content: "";
  display: block;
  clear: both;
}
body .size42on58:after {
  content: "";
  display: block;
  clear: both;
}
body .size42on58 .size42 {
  width: 42%;
}
body .size42on58 .size42:first-child {
  float: left;
}
body .size42on58 .size42:last-child {
  float: right;
}
body .size42on58 .size58 {
  width: 55%;
}
body .size42on58 .size58:first-child {
  float: left;
}
body .size42on58 .size58:last-child {
  float: right;
}
body .size45on55:before {
  content: "";
  display: block;
  clear: both;
}
body .size45on55:after {
  content: "";
  display: block;
  clear: both;
}
body .size45on55 .size45 {
  width: 45%;
}
body .size45on55 .size45:first-child {
  float: left;
}
body .size45on55 .size45:last-child {
  float: right;
}
body .size45on55 .size55 {
  width: 52%;
}
body .size45on55 .size55:first-child {
  float: left;
}
body .size45on55 .size55:last-child {
  float: right;
}
body .size48on52:before {
  content: "";
  display: block;
  clear: both;
}
body .size48on52:after {
  content: "";
  display: block;
  clear: both;
}
body .size48on52 .size48 {
  width: 48%;
}
body .size48on52 .size48:first-child {
  float: left;
}
body .size48on52 .size48:last-child {
  float: right;
}
body .size48on52 .size52 {
  width: 49%;
}
body .size48on52 .size52:first-child {
  float: left;
}
body .size48on52 .size52:last-child {
  float: right;
}
body .size50on50:before {
  content: "";
  display: block;
  clear: both;
}
body .size50on50:after {
  content: "";
  display: block;
  clear: both;
}
body .size50on50 .size50 {
  width: 48.5%;
}
body .size50on50 .size50:first-child {
  float: left;
}
body .size50on50 .size50:last-child {
  float: right;
}
body .w1 {
  position: relative;
}
body .floatLeft {
  float: left;
}
body .floatRight {
  float: right;
}
body .clear:after {
  content: "";
  display: block;
  clear: both;
}
body .clear:before {
  content: "";
  display: block;
  clear: both;
}
body .wrapper {
  margin: 0 auto;
  width: 1150px;
  padding: 0 5%;
}
body p {
  margin: 0;
}
body main p {
  margin: 0 0 0;
}
body main > div {
  margin: 0 0 50px;
}

/*# sourceMappingURL=style.css.map */
