$saiGallery: true;
$saiGalleryCounter: 10;


$size: true;
$sizeMargin: 3;
$denominator: 5; 

@if $saiGallery == true {
    @for $i from 1 through $saiGalleryCounter {
        .sai-columns-#{$i} { 
            text-align: justify;
            font-size: 0;
            display: table;
            width: 100%;
            @include clear;
            .sai-columns-item {
                $length: 100/$i;
                display: inline-block;
                vertical-align: top;
                font-size: 14px;   
                @if $i == 1 {
                    width: 100%;
                    margin: 0 0 $length / 100 * 1% 0;
                } @else {
                    $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                    margin: 0 $margin $margin 0;
                    width: ($length - $length / 50) * 1%;
                    &:nth-child(#{$i}n+#{$i}) { 
                        margin: 0 0 $margin 0;
                    }
                }
            }
        }
    }
    @if $saiGalleryCounter >= 7 {
        @media screen and (max-width: 1440px){
            @for $i from 7 through $saiGalleryCounter {
                .sai-columns-#{$i} { 
                    .sai-columns-item {
                        $i: 7;
                        $length: 100/$i;
                        $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                        margin: 0 $margin $margin 0;
                        width: ($length - $length / 50) * 1%;
                        &:nth-child(n) { 
                            margin: 0 $margin $margin 0;
                        }
                        &:nth-child(#{$i}n+#{$i}) { 
                            margin: 0 0 $margin 0;
                        }
                    }
                }
            }
        }
    }

    @if $saiGalleryCounter >= 6 {
        @media screen and (max-width: 1024px){
            @for $i from 6 through $saiGalleryCounter {
                .sai-columns-#{$i} { 
                    .sai-columns-item {
                        $i: 5;
                        $length: 100/$i;
                        $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                        margin: 0 $margin $margin 0;
                        width: ($length - $length / 50) * 1%;
                        &:nth-child(n) { 
                            margin: 0 $margin $margin 0;
                        }
                        &:nth-child(#{$i}n+#{$i}) { 
                            margin: 0 0 $margin 0;
                        }
                    }
                }
            }
        }
    }

    @if $saiGalleryCounter >= 5 {
        @media screen and (max-width: 992px){
            @for $i from 5 through $saiGalleryCounter {
                .sai-columns-#{$i} { 
                    .sai-columns-item {
                        $i: 4;
                        $length: 100/$i;
                        $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                        margin: 0 $margin $margin 0;
                        width: ($length - $length / 50) * 1%;
                        &:nth-child(n) { 
                            margin: 0 $margin $margin 0;
                        }
                        &:nth-child(#{$i}n+#{$i}) { 
                            margin: 0 0 $margin 0;
                        }
                    }
                }
            }
        }
    }

    @if $saiGalleryCounter >= 4 {
        @media screen and (max-width: 768px){
            @for $i from 4 through $saiGalleryCounter {
                .sai-columns-#{$i} { 
                    .sai-columns-item {
                        $i: 3;
                        $length: 100/$i;
                        $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                        margin: 0 $margin $margin 0;
                        width: ($length - $length / 50) * 1%;
                        &:nth-child(n) { 
                            margin: 0 $margin $margin 0;
                        }
                        &:nth-child(#{$i}n+#{$i}) { 
                            margin: 0 0 $margin 0;
                        }
                    }
                }
            }
        }
    }

    @if $saiGalleryCounter >= 3 {
        @media screen and (max-width: 600px){
            @for $i from 3 through $saiGalleryCounter {
                .sai-columns-#{$i} { 
                    .sai-columns-item {
                        $i: 2;
                        $length: 100/$i;
                        $margin: ($length / 50 + ($length / 50 / ($i - 1))) * 1%;
                        margin: 0 $margin $margin 0;
                        width: ($length - $length / 50) * 1%;
                        &:nth-child(n) { 
                            margin: 0 $margin $margin 0;
                        }
                        &:nth-child(#{$i}n+#{$i}) { 
                            margin: 0 0 $margin 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 450px){
        @for $i from 1 through $saiGalleryCounter {
            .sai-columns-#{$i} { 
                .sai-columns-item {
                    $i: 1;
                    $length: 100/$i;
                    width: 100%;
                    margin: 0 $length / 100 * 1% 0 0;
                }
            }
        }
    }
}

@if $size == true {
    @for $i from 1 through round(50 / $denominator - 1) {
        .size#{$i * $denominator}on#{100 - $i * $denominator} {
            @include clear;
            @if $i * $denominator == 50 {
                .size#{100 - $i * 5} {
                    width: ((100 - $sizeMargin) - $i * 5) * 1%;
                    &:first-child {
                        float: left;
                    }
                    &:last-child {
                        float: right;
                    }
                }
            } @else {
                .size#{$i * $denominator} { 
                    width: $i * $denominator * 1%; 
                    &:first-child {
                        float: left;
                    }
                    &:last-child {
                        float: right;
                    }
                }
                .size#{100 - $i * $denominator} {
                    width: ((100 - $sizeMargin) - $i * $denominator) * 1%; 
                    &:first-child {
                        float: left;
                    }
                    &:last-child {
                        float: right;
                    }
                }
            }
        }
    }
    .size50on50 { 
        @include clear;
        .size50 {
            width: (100 - $sizeMargin) / 2 * 1%; 
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
        }
    }
}