body {
    /* All class */
    $fontSize: 14px; 
    $lineHeight: 25px; 
    
    // (Name) (Media query checkpoint) ( Item№: width  margin 0 0 0 0 ) ... (...) 
    $saiGridArray: (
        ( (none) (0) (0 0 0 0 0) ), // Do not remove this line
        ( (three_item) (768px) (30   0 20% 30px 0) (20   0 10% 30px 0) (10   0 0 30px 0) ),
        ( (five_item)  (900px) (19   0 1% 30px 0)  (19   0 1% 30px 0)  (19   0 1% 30px 0) (19   0 0 30px 0) (19   0 1% 30px 0) )
        );
    @import "saiGrid.scss"; 

    font-size: $fontSize;
    line-height: $lineHeight;
    .w1 {
        position: relative; 
    }
    .floatLeft { 
        float: left;
    }
    .floatRight {
        float: right;
    }
    .clear {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        &:before {
            content: "";
            display: block;
            clear: both;
        }
    }
    .wrapper {
        margin: 0 auto;
        width: 1150px;
        padding: 0 5%;
    }
    p {
        margin: 0;
    }
    /* Main */
    main {
        p {
            margin: 0 0 0;
        }
        > div {
            margin: 0 0 50px; 
        }
    }
}